<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <title>Blogos</title>
</head>
<body>
    <h1>Welcome to Blogos</h1>
    <div>
        <form action="/login" method="get">
            <button type="submit" name="login" class="l">Login To Create a Blog</button>
        </form>
        <form action="/view" methord="get">
            <button type="submit" name="view" class="v">View Blogs</button>
        </form>
    </div>
</body>
</html>